$laptop:1366px;
$tablet:768px;

//  320 - smallest
//  560 - iphone 

// 680 - tablet and largets for content area 
// 768 - 1100 - normal tablet 
// 1100 - desktop 


ul li
{
    list-style-type: none;
}

$green: #21923f;


html, body {
    margin: 0;
    overflow-x:  hidden;
    padding: 0;
  }
  
  header, footer, div, section{
    box-sizing: border-box;
  }