/* styles.css */

.dogPic {
  height: auto;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: purple;
  text-align: center;
}

h1 {
  color: purple;
  text-align: center;
}

h2 {
  color: purple;
  text-align: center;
}

.title {
  color: purple;
  font-size: 38px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.header{
  color: purple;
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
}

.list {
  color: purple;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.back {
  color: purple;
  /* text-align: center; */
  font-size: 36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pancakePic {
  height: auto;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

