.about-us-logo{
  width: 100%;
  opacity: 0.9;
  object-fit: cover;
  height: 100px;
  position: relative;

  p{
    color: white;
    position: absolute;
    bottom: -10%;
    left: 30%;
    font-size: 42px;

    @media(min-width:$tablet){
      left: 40% 
    }

    @media(min-width:$laptop){
      left: 43% 
    }
  }

}

.about-us-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
}

.about-us-text{
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;

  h2{
    color: gray;
    font-size: 14px;
  }

  @media(min-width:$laptop){
    width: 800px;
    text-align: left;
  }
}

.about-us-card{
  background-color: $green;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10%;
  width: 200px;
  margin: auto;
  background: linear-gradient(180deg, #2C8945 0%, rgba(109, 214, 137, 0.69) 0.01%, #1B8036 99.48%);
  p{
    width: 150px;
    margin: auto;
    font-size: 12px;
  }
}

.about-us-pic{
  width: 135px;
  border-radius: 50%;
}

.about-us-content{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  @media(min-width:$tablet){
    flex-direction: row-reverse;
  }

  @media(min-width:$laptop){
    width: 1200px;
    margin: auto;
  }
}