.blog-page{
  font-family: Roboto;
}

.blog-logo{
  height: 100px;
  object-fit: cover;
  opacity: 0.9;
  position: relative;
  width: 100%;

  p{
    bottom: -30%;
    color: white;
    font-size: 42px;
    left: 40%;
    position: absolute;

    @media(min-width:$tablet){
      left: 40% 
    }

    @media(min-width:$laptop){
      left: 43% 
    }
  }
}

.blog-content{
  display: flex;
  flex-direction: column;

  @media(min-width:$laptop){
    flex-direction: row;
  }
}

.blog-post{

  padding-top: 50px;
  padding-bottom: 50px;

}

.beer-blog{
  border-radius: 25px;
  box-shadow: 1px 5px 2px grey;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 350px;

  @media(min-width:$tablet){
    width: 600px;
  }

  @media(min-width:$laptop){
    width: 870px;
  }

  ul{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding-left: 60px;

    @media(min-width:$tablet){
      padding-left: 190px;
    }

    @media(min-width:$laptop){
      padding-left: 80px;
    }
  }

  li{
    margin: .5em;
  }

  h1{
    font-size: 22px;
    margin: auto;
    padding-bottom: 10px;
    width: 300px;

    @media(min-width:$tablet){
      width: 500px;
    }

    @media(min-width:$laptop){
      font-size: 30px;
      text-align: left;
      width: 700px;
    }
  }

  h2{
    color: #3D3D3D;
    font-size: 14px;
    margin: auto;
    padding-bottom: 30px;
    width: 300px;

    @media(min-width:$tablet){
      width: 500px;
    }

    @media(min-width:$laptop){
      font-size: 16px;
      text-align: left;
      width: 700px;
    }
  }

  p{
    background: #1B8036;
    border-radius: 15px;
    color: white;
    width: 115px;
  }
}

.coffee-blog{
  border-radius: 25px;
  box-shadow: 1px 5px 2px grey;
  color: #3D3D3D;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 350px;
  margin-top: 40px;

  @media(min-width:$tablet){
    width: 600px;
  }

  @media(min-width:$laptop){
    width: 870px;
  }

  ul{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding-left: 60px;

    @media(min-width:$tablet){
      padding-left: 190px;
    }

    @media(min-width:$laptop){
      padding-left: 80px;
    }
  }

  li{
    margin: .5em;
  }

  h1{
    font-size: 22px;
    margin: auto;
    padding-bottom: 10px;
    width: 300px;

    @media(min-width:$tablet){
      width: 500px;
    }

    @media(min-width:$laptop){
      font-size: 30px;
      text-align: left;
      width: 700px;
    }
  }

  h2{
    font-size: 14px;
    margin: auto;
    padding-bottom: 30px;
    width: 300px;

    @media(min-width:$tablet){
      width: 500px;
    }

    @media(min-width:$laptop){
      font-size: 16px;
      text-align: left;
      width: 700px;
    }
  }

  p{
    background: #1B8036;
    border-radius: 15px;
    color: white;
    width: 115px;
  }

}

.blog-tag{
  display: flex;
  left: 10%;
  position: absolute;
}

.side-items{
  display: flex;
  flex-direction: column;
  font-family: SF UI Display;
  margin: auto;
  text-align: center;
  width: 300px;

  @media(min-width:$laptop){
    margin-top: 50px;
    text-align: left;
  }
}

.search{
  background: #FFFFFF;
  border-radius: 30px;
  color: #696969;
  font-size: 18px;
  height: 45px;  
  margin: auto;
  padding-left: 50px;
  text-align: left;
  width: 250px;
}

.recent-posts{
  h1{
    font-size: 20px;

    @media(min-width:$tablet){
      font-size: 24px;
    }
  }

  p{
    font-size: 12px;

    @media(min-width:$tablet){
      font-size: 14px;
    }
  }
}

.recent-comments{

  h1{
    font-size: 20px;

    @media(min-width:$tablet){
      font-size: 24px;
    }
  }

  p{
    font-size: 12px;

    @media(min-width:$tablet){
      font-size: 14px;
    }
  }
}

.categories{

  h1{
    font-size: 20px;

    @media(min-width:$tablet){
      font-size: 24px;
    }
  }

  ul{
    padding-left: 0px;
  }

  li{
    font-size: 12px;

    @media(min-width:$tablet){
      font-size: 14px;
    }
  }
}

.posts{
  width: 300px;
  margin: auto;

  h1{
    font-size: 20px;

    @media(min-width:$tablet){
      font-size: 24px;
    }
  }

  p{
    font-size: 12px;
  }
}

.instagram{

  h1{
    font-size: 20px;

    @media(min-width:$tablet){
      font-size: 24px;
    }
  }
}

.tags{
  padding-bottom: 10px;

  h1{
    font-size: 20px;

    @media(min-width:$tablet){
      font-size: 24px;
    }
  }

  ul{
    display: flex;
    margin: .5em;

    @media(min-width:$laptop){
      margin-left: 0px;
      padding-left: 0px;
    }
  }

  li{
    background: #E9F2FF;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
  }
}