.blog-logo{
  width: 100%;
  opacity: 0.9;
  object-fit: cover;
  height: 100px;
  position: relative;

  p{
    color: white;
    position: absolute;
    bottom: -10%;
    left: 40%;
    font-size: 42px;

    @media(min-width:$tablet){
      left: 40% 
    }

    @media(min-width:$laptop){
      left: 43% 
    }
  }
}

.blog-page{
  font-family: Roboto;
}

.car-blog{
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 5px 2px grey;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

  @media(min-width:$tablet){
    width: 600px;
  }

  @media(min-width:$laptop){
    width: 870px;
  }

  ul{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    padding-left: 60px;

    @media(min-width:$tablet){
      padding-left: 190px;
    }

    @media(min-width:$laptop){
      padding-left: 80px;
    }
  }

  li{
    margin: .5em;
  }

  h1{
    font-size: 22px;
    width: 300px;
    margin: auto;
    padding-bottom: 10px;

    @media(min-width:$tablet){
      width: 500px;
    }

    @media(min-width:$laptop){
      font-size: 30px;
      width: 700px;
      text-align: left;
    }
  }

  h2{
    font-size: 14px;
    width: 300px;
    margin: auto;
    padding-bottom: 30px;
    color: #3D3D3D;

    @media(min-width:$tablet){
      width: 500px;
    }

    @media(min-width:$laptop){
      font-size: 16px;
      text-align: left;
      width: 700px;
    }
  }

}

// .car-blog-pic{
//   width: 350px;
//   height: auto;
//   border-radius: 25px;
  
// }

.clock-blog{
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 5px 2px grey;
  border-radius: 25px;
  margin-bottom: 50px;
  text-align: center;
  color: #3D3D3D;

  @media(min-width:$tablet){
    width: 600px;
  }

  @media(min-width:$laptop){
    width: 870px;
  }

  ul{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    padding-left: 60px;

    @media(min-width:$tablet){
      padding-left: 190px;
    }

    @media(min-width:$laptop){
      padding-left: 80px;
    }
  }

  li{
    margin: .5em;
  }

  h1{
    font-size: 22px;
    width: 300px;
    margin: auto;
    padding-bottom: 10px;

    @media(min-width:$tablet){
      width: 500px;
    }

    @media(min-width:$laptop){
      width: 700px;
      text-align: left;
      font-size: 30px;
    }
  }

  h2{
    font-size: 14px;
    width: 300px;
    margin: auto;
    padding-bottom: 30px;

    @media(min-width:$tablet){
      width: 500px;
    }

    @media(min-width:$laptop){
      width: 700px;
      text-align: left;
      font-size: 16px;
    }
  }

}

// .clock-blog-pic{
//   width: 350px;
//   height: auto;
//   border-radius: 25px;
  
// }