.header{
  background-color: $green;
  display: flex;
}

.navbar-contact{
  display: flex;
  height: 120px;
  justify-content: space-between;
  flex-direction: column;
  width: 375px;
  margin: auto;

  @media(min-width:$tablet){
    flex-direction: row;
    width: 760px;
    height: 50px;
  }

  @media(min-width:$tablet){
    width: 1360px;
  }
}

.social-media{
  display: flex;
  padding-left: 125px;

  @media(min-width:$tablet) {
    margin-top: 10px;
    padding-left: 50px;
  }
  
  @media(min-width:$laptop){
    padding-left: 100px
  }
}

.socal-logo{
  height: 13;
  margin: 0.5em;
  width: auto;

  @media(min-width:$tablet) {
    margin-right: 0.5em;
  }
}

.contact-info{
  display: flex;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 0px;
  color: #FFFFFF;
  
  @media(min-width:$tablet) {
    margin-top: 15px;
    padding-right: 30px;
  }

  @media(min-width:$laptop){
    padding-right: 50px
  }

  li{
  margin: 0.1em;
  }
}
