.navbar-contact{
  background-color: $green;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.social-media{
  display: flex;
  padding-left: 0px;

  @media(min-width:$tablet) {
    margin-top: 10px;
    padding-left: 50px;
  }
  
  @media(min-width:$laptop){
    padding-left: 100px
  }
}

.socal-logo{
  height: auto;
  margin: 0.3em;
  width: 20px;

  @media(min-width:$tablet) {
    margin-right: 0.5em;
  }
}

.contact-info{
  color: white;
  display: flex;
  font-size: 14px;
  padding-left: 0px;
  padding-right: 10px;

  @media(min-width:$tablet) {
    font-size: 18px;
    margin-top: 10px;
    padding-right: 80px;
  }

  @media(min-width:$laptop){
    padding-right: 160px
  }

  li{
  margin: 0.5em;
  }
}
