.hero{
  display: flex;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.747) 100%, rgba(0, 0, 0, 0) 100%);

}

.hero-image{
  height: 300px;
  object-fit: cover;
  opacity: 0.9;
  position: relative;
  width: 100%;
  
  @media(min-width:$tablet) {
    height: 400px;
  }

  @media(min-width:$laptop) {
    height: 500px;
  }
}

.hero-text{
  color: white;
  font-family: Hat Display;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  width: 400px;
  width: fit-content;

  @media(min-width:$tablet) {
    padding: 100px 0px 0px 50px;
    text-align: left;
    width: 500px;
  }

  @media(min-width:$laptop) {
    padding-left: 125px;
    width: 900px;
  }

  h1 {
    @media(min-width:$laptop){
    font-size: 40px;
    }
  }

  p {
    font-size: 18px;
  }
}

.hero-button{
    background: $green;
    border-color: $green;
    border-radius: 28px;
    border-style: solid;
    border-width: 3px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-weight: bold;
    height: 50px;
    padding: 10px;
    width: 150px;
}

// .hero-inner{
// position: absolute;
// }

// .bottom-pic {
//   display: flex;

// }