.hero{
  
}

.hero-image{
  height: auto;
  width: 500px;
  // filter: blur(1px);
  // box-sizing: border-box;
  // box-shadow: inset 350px 0 100px 0 #FFF;

}

.hero-text{
  color: white;
  font-family: Fantasy;
  font-weight: bold;
  position: absolute;
  top: 50px;
  box-sizing: border-box;
  box-shadow: inset 350px 0 100px 0 #FFF;

}


// .box{
//   box-sizing: border-box;
//   box-shadow: inset 50px 0 10px 0 #FFF;
// }