.hero{
  display: flex;

}

.hero-image{
  width: 100%;
  opacity: 0.9;
  object-fit: cover;
  height: 300px;
  
  @media(min-width:$tablet) {
    height: 400px;
  }

  @media(min-width:$laptop) {
    height: 500px;
  }

}

.hero-text{
  color: white;
  font-family: sans-serif;
  position: absolute;
  text-align: center;
  padding-top: 30px;
  width: 400px;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;

  @media(min-width:$tablet) {
    padding: 100px 0px 0px 100px;
    width: 500px;
    text-align: left;
  }

  @media(min-width:$laptop) {
    padding-left: 200px;
    width: 900px
  }

  h1 {
    @media(min-width:$laptop){
    font-size: 40px;
    }
  }

  p {
    @media(min-width:$laptop){
    font-size: 18px;
    }
  }

  // box-sizing: border-box;
  // box-shadow: inset 50px 0 30px 0 $green;
  // height: 195px;
  // width: 414px;
}

.hero-button{

    border-radius: 8px;
    border-style: solid;
    border-width: 3px;
    color: white;
    // display: block;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
    width: fit-content;
    background: $green;
    border-color: $green;
}