.leadership{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding-bottom: 50px;
  padding-top: 15px;
  text-align: center;
  width: 100%;
}


.leadership-text{
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  width: 325px;

  @media(min-width:$tablet){
    width: 425px;
  }

  @media(min-width:$laptop){
    width: 600px;
  }

  p {
    color: grey;
    font-size: 12px;

    @media(min-width:$tablet){
      font-size: 14px;
    }
  }

  h1{
    font-size: 22px;

    @media(min-width:$tablet){
      font-size: 32px;
    }
  }

  h2{
    font-size: 16px;
    font-weight: lighter;

    @media(min-width:$tablet){
      font-size: 22px;
    }
  }
}

.leadership-group{
  display: flex;
  flex-direction: column;
  margin: auto;

  
  @media(min-width:$laptop){
    flex-direction: row;
  }
    
  &-1{
    @media(min-width:$tablet){
      display: flex;
      flex-direction: row;
      padding-bottom: 20px;
    }

    @media(min-width:$laptop){
      padding-bottom: 0px;
    }
  }

  &-2{
    @media(min-width:$tablet){
      display: flex;
      flex-direction: row;
    }
  }
}

.leadership-pic{
  border-radius: 25px;
  height: autoc;
  margin: 1em;
  width: 200px;

  @media(min-width:$tablet){
    width: 250px;
  }
}

.leadership-card{
  display: flex;
  object-fit: contain;
  position: relative;
}

.title{
  background: white;
  border-radius: 25px;
  bottom: 0%;
  box-shadow: 1px 5px 2px grey;
  color: black;
  font-size: 14px;
  left: 12%;
  position: absolute;
  width: 180px;

  @media(min-width:$tablet){
    left: 20%;
  }

  h1{
    font-size: 14px;

    @media(min-width:$tablet){
      font-size: 16px;
    }
  }

  p{
    font-size: 12px;

    @media(min-width:$tablet){
      font-size: 14px;
    }
  }
}
