.newsletter{
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
}

.newsletter-inner{
  background-color: $green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 40px;
  width: 380px;
  color: white;

  @media(min-width:$tablet){
    width: 680px;
    flex-direction: row;
  }

  @media(min-width:$laptop){
    width: 880px;
  }


  p{    
    // padding-right: 150px;
    // padding-left: 100px;

    // width: 500px;
  }
}

.subcribe{
  background-color: white;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding-left: 30px;

  @media(min-width:$laptop){
    margin-left: 200px;
  }
  
}

.subcribe-button{
  border-radius: 8px;
  border-width: 3px;
  background-color: $green;
  color: white;
  padding: 5px;
  display: flex;
  float: right;
  margin-top: 10px;
  margin-left: 80px;

  @media(min-width:$tablet){
    float: left;
  }
}
