.newsletter{
  font-family: Roboto;
  font-size: 18px;
  padding-bottom: 30px;
  text-align: center;
}

.newsletter-inner{
  background: linear-gradient(90.54deg, #52FA43 7.9%, rgba(27, 128, 54, 0.89) 92.98%);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 40px;
  width: 380px;

  @media(min-width:$tablet){
    flex-direction: row;
    width: 680px;
  }

  @media(min-width:$laptop){
    padding-left: 80px;
    width: 1000px;
  }
}

.subcribe{
  background-color: white;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  padding-left: 30px;

  @media(min-width:$tablet){
    margin-left: 70px;
    width: 300px;
  }

  @media(min-width:$laptop){
    margin-left: 300px;
  }
}

.subcribe-button{
  background: #1B8036;
  border-radius: 8px;
  border-width: 3px;
  color: white;
  display: flex;
  float: right;
  margin-left: 80px;
  margin-top: 10px;
  padding: 5px;

  @media(min-width:$tablet){
    float: left;
  }
}
