.product{
  background: linear-gradient(100.66deg, rgba(30, 165, 66, 0.92) 23.13%, #0E6706 82.12%, rgba(27, 128, 54, 0.9) 97.79%);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

h1{
  font-size: 32px;
}

.product-text{
  margin: auto;
  width: 350px;

  @media(min-width:$laptop){
    width: 500px;
  }
}

.jman{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 350px;

  @media(min-width:$laptop){
    flex-direction: row;
    padding-top: 70px;
    text-align: left;
    width: 1000px;
  }

  h1{
    font-size: 22px;

    @media(min-width:$tablet){
      font-size: 30px;
    }

    @media(min-width:$laptop){
      font-size: 36px;
    }
  }

  h2{
    font-size: 16px;

    @media(min-width:$tablet){
      font-size: 20px;
    }

    @media(min-width:$laptop){
      font-size: 24px;
    }
  }

  p{
    font-size: 14px;

    @media(min-width:$tablet){
      font-size: 16px;
    }

    @media(min-width:$laptop){
      font-size: 18px;
    }
  }
}

.computer{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 350px;

  @media(min-width:$laptop){
    flex-direction: row-reverse;
    padding-top: 70px;
    text-align: left;
    width: 1000px;
  }

  h1{
    font-size: 22px;

    @media(min-width:$tablet){
      font-size: 30px;
    }

    @media(min-width:$laptop){
      font-size: 36px;
    }
  }

  h2{
    font-size: 16px;

    @media(min-width:$tablet){
      font-size: 20px;
    }

    @media(min-width:$laptop){
      font-size: 24px;
    }
  }

  p{
    font-size: 14px;

    @media(min-width:$tablet){
      font-size: 16px;
    }

    @media(min-width:$laptop){
      font-size: 18px;
    }
  }
}

.jman-pic{
  display: block;
  height: auto;
  margin: auto;
  width: 150px;

  @media(min-width:$laptop){
    width: 250px;
  }

}

.computer-pic{
  border-radius: 100%;
  display: block;
  height: auto;
  margin: auto;
  width: 250px;

  @media(min-width:$laptop){
    width: 350px;
  }
}