.product{
  display: flex;
  background-color: $green;
  color: white;
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  background: linear-gradient(100.66deg, rgba(30, 165, 66, 0.92) 23.13%, #0E6706 82.12%, rgba(27, 128, 54, 0.9) 97.79%);
}

h1{
  font-size: 32px;
}

.product-text{
  width: 350px;
  margin: auto;

}

.coffee{
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;

  @media(min-width:$tablet){
    padding-top: 50px;
  }

  @media(min-width:$laptop){
    padding-top: 70px;
    padding-bottom: 50px;
    width: 800px;
    flex-direction: row-reverse;
    text-align: left;
  }
  h1{
    font-size: 28px;
  }

  h2{
    font-size: 20px;
  }

  p{
    font-size: 18px;
  }
}

.beer{
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;

  @media(min-width:$laptop){
    padding-top: 70px;
    width: 800px;
    flex-direction: row;
    text-align: left;
  }

  h1{
    font-size: 28px;
  }

  h2{
    font-size: 20px;
  }

  p{
    font-size: 18px;
  }
}

.beer-pic{
  border-radius: 50%;
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  object-fit: cover;

  @media(min-width:$laptop){
    width: 300px;
    height: 300px;
  }
}

.coffee-pic{
  border-radius: 50%;
  display: block;
  width: 250px;
  height: auto;
  margin: auto;

  @media(min-width:$laptop){
    width: 300px;
    height: 300px;
  }

}


