.what-we-do{
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 120px;
  width: 350px;

  @media(min-width:$tablet){
    margin: auto;
    width: 100%;
  }

  @media(min-width:$laptop){
    flex-direction: row;
    width: 1200px
  }
}

.what-we-do-text{
    margin: auto;
    text-align: center;
   
     @media(min-width:$tablet){
       width: 500px;
     }
   
     @media(min-width:$laptop){
       text-align: left;
     }
   
     p {
       color: #C4C4C4;
       font-size: 12px;
   
       @media(min-width:$laptop){
         font-size: 15px;
       }
     }
   
     h1{
       font-size: 26px;
       color: #000000;
   
       @media(min-width:$laptop){
         font-size: 36px;
       }
     }
   
     h2{
       font-size: 16px;
       font-weight: lighter;
       color: #464749;
   
       @media(min-width:$laptop){
         font-size: 24px;
       }
     }

     h3{
      color: #99999A;
      font-size: 15px;
      font-weight: lighter;
    }
}

.content {
  font-family: fansong;
  margin: auto;

  @media(min-width:$tablet){
    display: flex;
    flex-direction: row;
    width: 725px;
  }

  @media(min-width:$laptop){
    flex-wrap: wrap;
    padding-left: 100px;
  }

}

.content-card{
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
  margin: 1em;
  padding: 10px;
  text-align: center;
  width: 250px;
}