.what-we-do{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding-top: 50px;
  width: 350px;
  margin: 0 auto;
  padding-bottom: 20px;

  @media(min-width:$tablet){
    width: 100%;
    margin: auto;
  }

  @media(min-width:$laptop){
    flex-direction: row;
    width: 1200px
  }
}

.what-we-do-text{
    margin: auto;
    text-align: center;
   
     @media(min-width:$tablet){
       width: 500px;
     }
   
     @media(min-width:$laptop){
       text-align: left;
     }
   
     p {
       color: grey;
       font-size: 12px;
   
       @media(min-width:$tablet){
         font-size: 14px;
       }
     }
   
     h1{
       font-size: 22px;
   
       @media(min-width:$tablet){
         font-size: 32px;
       }
     }
   
     h2{
       font-size: 16px;
       font-weight: lighter;
   
       @media(min-width:$tablet){
         font-size: 22px;
       }
     }

     h3{
      font-size: 14px;
      font-weight: lighter;
  
      @media(min-width:$tablet){
        font-size: 20px;
      }
    }
}

.content {
  font-family: fansong;
  margin: auto;
  display: flex;
  flex-direction: column;

  @media(min-width:$tablet){
    flex-direction: row;
    width: 725px;
    justify-content:space-around;
  }

  @media(min-width:$laptop){
    flex-wrap: wrap;
    padding-left: 100px;
  }

}

.content-card{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  margin: 1em;
  padding: 10px;
  text-align: center;
  width: 270px;
  height: auto;
  border-radius: 10px;
}

.content-card-1{
  @media(min-width:$laptop){
    padding-top: 50px;
  }
}