.who-we-are{
 display: flex;
 flex-direction: column;
 font-family: Roboto;
 margin: 0 auto;
 padding-top: 50px;
 width: 100%;

  @media(min-width:$laptop){
    flex-direction: row-reverse;
    padding-top: 100px;
  }

}

.who-we-are-text{
 margin: auto;
 text-align: center;
 width: 350px;

  @media(min-width:$tablet){
    width: 500px;
  }

  @media(min-width:$laptop){
    text-align: left;
  }

  p {
    color: grey;
    font-size: 12px;

    @media(min-width:$laptop){
      font-size: 14px;
    }
  }

  h1{
    font-size: 22px;

    @media(min-width:$laptop){
      font-size: 32px;
    }
  }

  h2{
    font-size: 16px;
    font-weight: lighter;

    @media(min-width:$laptop){
      font-size: 22px;
    }
  }
}

.devices-pic{
  border-radius: 50%;
  left: 90px;
  margin: auto;
  padding-top: 30px;
  top: 160%;
  top: 742px;
  width: 350px;
  width: 570px;

}

.splat-pic{
  left: 15%;
  position: absolute;
  top: 215%;
  width: 200px;

  @media(min-width:$tablet){
    left: 30%;
    top: 185%
  }

  @media(min-width:$laptop){
    left: 10%;
    top: 215%;
    width: 250px;
  }
}