.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow-x: hidden;
}

ul li {
  list-style-type: none;
}

html, body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

header, footer, div, section {
  box-sizing: border-box;
}

.navbar-contact {
  background-color: #1B8036;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  justify-content: space-between;
  line-height: 18px;
}
@media (min-width: 768px) {
  .navbar-contact {
    flex-direction: row;
    height: 50px;
  }
}

.social-media {
  display: flex;
  margin: auto;
  padding-left: 0px;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .social-media {
    margin-top: 15px;
    padding-left: 50px;
    padding-top: 0px;
  }
}
@media (min-width: 1366px) {
  .social-media {
    height: 27px;
    left: 116px;
    opacity: 0.6;
    padding-left: 0px;
    position: absolute;
    width: 147px;
  }
}

.socal-logo {
  border-radius: 0px;
  height: 12px;
  left: 6px;
  margin: 0.3em;
  top: 8px;
  width: 13px;
}
@media (min-width: 768px) {
  .socal-logo {
    margin-right: 0.5em;
  }
}

.contact-info {
  color: white;
  display: flex;
  font-size: 10px;
  margin: auto;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 5px;
}
@media (min-width: 768px) {
  .contact-info {
    font-size: 18px;
    margin-top: 5px;
  }
}
@media (min-width: 1366px) {
  .contact-info {
    margin-left: 825px;
    padding-right: 16px;
  }
}
.contact-info li {
  font-size: 14px;
  margin: 0.5em;
}

.menu {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  justify-content: space-between;
  text-align: center;
}
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
  }
}
@media (min-width: 1366px) {
  .menu {
    height: 73px;
  }
}

.menu-logo {
  margin: auto;
  width: 100px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
@media (min-width: 768px) {
  .menu-list {
    flex-direction: row;
  }
}

.menu-item {
  margin: 0.5em;
}
@media (min-width: 1366px) {
  .menu-item {
    font-size: 18px;
    margin: 1em;
  }
}

.menu-button {
  background: #1B8036;
  border-radius: 24.5px;
  box-shadow: 3px 10px 20px rgba(27, 128, 54, 0.51);
  color: white;
  height: 30px;
  margin: auto;
  width: 100px;
}
@media (min-width: 1366px) {
  .menu-button {
    width: 141px;
    height: 49px;
    font-size: 18px;
  }
}

.fa {
  color: #1B8036;
  left: 80%;
  padding-top: 10px;
  position: relative;
}
@media (min-width: 768px) {
  .fa {
    visibility: hidden;
  }
}

.hero {
  display: flex;
  padding-top: 15px;
}

.hero-image {
  height: 300px;
  object-fit: cover;
  opacity: 0.9;
  width: 100%;
}
@media (min-width: 768px) {
  .hero-image {
    height: 400px;
  }
}
@media (min-width: 1366px) {
  .hero-image {
    height: 500px;
  }
}

.hero-text {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  width: 400px;
}
@media (min-width: 768px) {
  .hero-text {
    padding: 100px 0px 0px 100px;
    text-align: left;
    width: 500px;
  }
}
@media (min-width: 1366px) {
  .hero-text {
    padding-left: 90px;
    width: 900px;
  }
}
@media (min-width: 1366px) {
  .hero-text h1 {
    font-size: 48px;
  }
}
@media (min-width: 1366px) {
  .hero-text p {
    font-size: 18px;
  }
}

.hero-button {
  background: #1B8036;
  border-color: #1B8036;
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  width: fit-content;
}

.who-we-are {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  margin: 0 auto;
  padding-top: 50px;
  width: 100%;
}
@media (min-width: 1366px) {
  .who-we-are {
    flex-direction: row-reverse;
    padding-top: 100px;
  }
}

.who-we-are-text {
  margin: auto;
  text-align: center;
  width: 350px;
}
@media (min-width: 768px) {
  .who-we-are-text {
    width: 500px;
  }
}
@media (min-width: 1366px) {
  .who-we-are-text {
    text-align: left;
  }
}
.who-we-are-text p {
  color: grey;
  font-size: 12px;
}
@media (min-width: 1366px) {
  .who-we-are-text p {
    font-size: 14px;
  }
}
.who-we-are-text h1 {
  font-size: 22px;
}
@media (min-width: 1366px) {
  .who-we-are-text h1 {
    font-size: 32px;
  }
}
.who-we-are-text h2 {
  font-size: 16px;
  font-weight: lighter;
}
@media (min-width: 1366px) {
  .who-we-are-text h2 {
    font-size: 22px;
  }
}

.devices-pic {
  border-radius: 50%;
  left: 90px;
  margin: auto;
  padding-top: 30px;
  top: 160%;
  top: 742px;
  width: 350px;
  width: 570px;
}

.splat-pic {
  left: 15%;
  position: absolute;
  top: 215%;
  width: 200px;
}
@media (min-width: 768px) {
  .splat-pic {
    left: 30%;
    top: 185%;
  }
}
@media (min-width: 1366px) {
  .splat-pic {
    left: 10%;
    top: 215%;
    width: 250px;
  }
}

.what-we-do {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 120px;
  width: 350px;
}
@media (min-width: 768px) {
  .what-we-do {
    margin: auto;
    width: 100%;
  }
}
@media (min-width: 1366px) {
  .what-we-do {
    flex-direction: row;
    width: 1200px;
  }
}

.what-we-do-text {
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) {
  .what-we-do-text {
    width: 500px;
  }
}
@media (min-width: 1366px) {
  .what-we-do-text {
    text-align: left;
  }
}
.what-we-do-text p {
  color: #C4C4C4;
  font-size: 12px;
}
@media (min-width: 1366px) {
  .what-we-do-text p {
    font-size: 15px;
  }
}
.what-we-do-text h1 {
  font-size: 26px;
  color: #000000;
}
@media (min-width: 1366px) {
  .what-we-do-text h1 {
    font-size: 36px;
  }
}
.what-we-do-text h2 {
  font-size: 16px;
  font-weight: lighter;
  color: #464749;
}
@media (min-width: 1366px) {
  .what-we-do-text h2 {
    font-size: 24px;
  }
}
.what-we-do-text h3 {
  color: #99999A;
  font-size: 15px;
  font-weight: lighter;
}

.content {
  font-family: fansong;
  margin: auto;
}
@media (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    width: 725px;
  }
}
@media (min-width: 1366px) {
  .content {
    flex-wrap: wrap;
    padding-left: 100px;
  }
}

.content-card {
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  margin: 1em;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.product {
  background: linear-gradient(100.66deg, rgba(30, 165, 66, 0.92) 23.13%, #0E6706 82.12%, rgba(27, 128, 54, 0.9) 97.79%);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

h1 {
  font-size: 32px;
}

.product-text {
  margin: auto;
  width: 350px;
}
@media (min-width: 1366px) {
  .product-text {
    width: 500px;
  }
}

.jman {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 350px;
}
@media (min-width: 1366px) {
  .jman {
    flex-direction: row;
    padding-top: 70px;
    text-align: left;
    width: 1000px;
  }
}
.jman h1 {
  font-size: 22px;
}
@media (min-width: 768px) {
  .jman h1 {
    font-size: 30px;
  }
}
@media (min-width: 1366px) {
  .jman h1 {
    font-size: 36px;
  }
}
.jman h2 {
  font-size: 16px;
}
@media (min-width: 768px) {
  .jman h2 {
    font-size: 20px;
  }
}
@media (min-width: 1366px) {
  .jman h2 {
    font-size: 24px;
  }
}
.jman p {
  font-size: 14px;
}
@media (min-width: 768px) {
  .jman p {
    font-size: 16px;
  }
}
@media (min-width: 1366px) {
  .jman p {
    font-size: 18px;
  }
}

.computer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 350px;
}
@media (min-width: 1366px) {
  .computer {
    flex-direction: row-reverse;
    padding-top: 70px;
    text-align: left;
    width: 1000px;
  }
}
.computer h1 {
  font-size: 22px;
}
@media (min-width: 768px) {
  .computer h1 {
    font-size: 30px;
  }
}
@media (min-width: 1366px) {
  .computer h1 {
    font-size: 36px;
  }
}
.computer h2 {
  font-size: 16px;
}
@media (min-width: 768px) {
  .computer h2 {
    font-size: 20px;
  }
}
@media (min-width: 1366px) {
  .computer h2 {
    font-size: 24px;
  }
}
.computer p {
  font-size: 14px;
}
@media (min-width: 768px) {
  .computer p {
    font-size: 16px;
  }
}
@media (min-width: 1366px) {
  .computer p {
    font-size: 18px;
  }
}

.jman-pic {
  display: block;
  height: auto;
  margin: auto;
  width: 150px;
}
@media (min-width: 1366px) {
  .jman-pic {
    width: 250px;
  }
}

.computer-pic {
  border-radius: 100%;
  display: block;
  height: auto;
  margin: auto;
  width: 250px;
}
@media (min-width: 1366px) {
  .computer-pic {
    width: 350px;
  }
}

.leadership {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding-bottom: 50px;
  padding-top: 15px;
  text-align: center;
  width: 100%;
}

.leadership-text {
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  width: 325px;
}
@media (min-width: 768px) {
  .leadership-text {
    width: 425px;
  }
}
@media (min-width: 1366px) {
  .leadership-text {
    width: 600px;
  }
}
.leadership-text p {
  color: #000000;
  font-size: 12px;
}
@media (min-width: 1366px) {
  .leadership-text p {
    font-size: 16px;
  }
}
.leadership-text h1 {
  font-size: 22px;
  color: #000000;
}
@media (min-width: 1366px) {
  .leadership-text h1 {
    font-size: 36px;
  }
}
.leadership-text h2 {
  font-size: 16px;
  font-weight: lighter;
  color: #000000;
}
@media (min-width: 1366px) {
  .leadership-text h2 {
    font-size: 18px;
  }
}

.leadership-group {
  display: flex;
  flex-direction: column;
  margin: auto;
}
@media (min-width: 1366px) {
  .leadership-group {
    flex-direction: row;
  }
}

.leadership-pic {
  border-radius: 25px;
  height: autoc;
  margin: 1em;
  width: 200px;
}
@media (min-width: 768px) {
  .leadership-pic {
    width: 250px;
  }
}

.leadership-card {
  display: flex;
  object-fit: contain;
  position: relative;
}

.title {
  background: white;
  border-radius: 25px;
  bottom: 0%;
  box-shadow: 1px 5px 2px grey;
  color: black;
  font-size: 14px;
  left: 12%;
  position: absolute;
  width: 180px;
}
@media (min-width: 768px) {
  .title {
    left: 20%;
  }
}
.title h1 {
  font-size: 14px;
}
@media (min-width: 768px) {
  .title h1 {
    font-size: 16px;
  }
}
.title p {
  font-size: 12px;
}
@media (min-width: 768px) {
  .title p {
    font-size: 14px;
  }
}

.newsletter {
  font-family: Roboto;
  font-size: 18px;
  padding-bottom: 30px;
  text-align: center;
}

.newsletter-inner {
  background: linear-gradient(90.54deg, #52FA43 7.9%, rgba(27, 128, 54, 0.89) 92.98%);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 40px;
  width: 380px;
}
@media (min-width: 768px) {
  .newsletter-inner {
    flex-direction: row;
    width: 680px;
  }
}
@media (min-width: 1366px) {
  .newsletter-inner {
    padding-left: 80px;
    width: 1000px;
  }
}

.subcribe {
  background-color: white;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}
@media (min-width: 768px) {
  .subcribe {
    margin-left: 70px;
    width: 300px;
  }
}
@media (min-width: 1366px) {
  .subcribe {
    margin-left: 300px;
  }
}

.subcribe-button {
  background: #1B8036;
  border-radius: 8px;
  border-width: 3px;
  color: white;
  display: flex;
  float: right;
  margin-left: 80px;
  margin-top: 10px;
  padding: 5px;
}
@media (min-width: 768px) {
  .subcribe-button {
    float: left;
  }
}

.footer {
  background: linear-gradient(100.66deg, #1B8036 23.13%, rgba(8, 63, 26, 0.92) 82.12%, rgba(8, 63, 26, 0.86) 97.79%);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding-left: 30px;
  }
}
@media (min-width: 1366px) {
  .footer {
    padding-left: 100px;
    text-align: left;
  }
}
.footer h1 {
  font-size: 22px;
  padding-bottom: 15px;
}
.footer p {
  font-size: 14px;
}
@media (min-width: 1366px) {
  .footer p {
    width: 250px;
  }
}

.about-us {
  margin: auto;
  width: 350px;
}
@media (min-width: 768px) {
  .about-us {
    margin: 0px;
    width: 250px;
  }
}
@media (min-width: 1366px) {
  .about-us {
    width: 400px;
  }
}

.logo {
  width: 150px;
  background: white;
  height: auto;
}

.social-logo {
  height: auto;
  margin: 0.3em;
  width: 20px;
}

.social-footer {
  display: flex;
  padding-left: 110px;
}
@media (min-width: 768px) {
  .social-footer {
    padding-left: 15px;
  }
}
@media (min-width: 1366px) {
  .social-footer {
    padding-left: 0px;
  }
}

.services {
  margin: auto;
  width: 250px;
}
@media (min-width: 768px) {
  .services {
    margin-top: 0px;
  }
}
@media (min-width: 1366px) {
  .services {
    width: 400px;
  }
}

.contact-us {
  margin: auto;
  width: 250px;
}
@media (min-width: 768px) {
  .contact-us {
    margin-top: 0px;
  }
}
@media (min-width: 1366px) {
  .contact-us {
    width: 400px;
  }
}

.quicklinks {
  margin: auto;
  width: 250px;
}
@media (min-width: 768px) {
  .quicklinks {
    margin-top: 0px;
  }
}
@media (min-width: 1366px) {
  .quicklinks {
    width: 400px;
  }
}

.about-us-logo {
  height: 100px;
  object-fit: cover;
  opacity: 0.9;
  padding-top: 10px;
  position: relative;
  width: 100%;
}
.about-us-logo p {
  bottom: -30%;
  color: white;
  font-size: 42px;
  font-weight: bold;
  left: 30%;
  position: absolute;
}
@media (min-width: 768px) {
  .about-us-logo p {
    left: 40%;
  }
}
@media (min-width: 1366px) {
  .about-us-logo p {
    left: 43%;
  }
}

.about-us-page {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  text-align: center;
  width: 100%;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
}
.about-us-text h2 {
  color: gray;
  font-size: 15px;
}
.about-us-text h3 {
  font-size: 22px;
  font-weight: 700;
}
@media (min-width: 1366px) {
  .about-us-text h3 {
    font-size: 36px;
  }
}
.about-us-text p {
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .about-us-text p {
    font-size: 20px;
  }
}
@media (min-width: 1366px) {
  .about-us-text p {
    font-size: 24px;
  }
}
@media (min-width: 1366px) {
  .about-us-text {
    text-align: left;
    width: 800px;
  }
}
.about-us-text h4 {
  color: #464749;
  font-size: 14px;
  text-decoration-line: underline;
}
@media (min-width: 768px) {
  .about-us-text h4 {
    font-size: 16px;
  }
}
@media (min-width: 1366px) {
  .about-us-text h4 {
    font-size: 18px;
  }
}

.about-us-card {
  background: linear-gradient(180deg, #2C8945 0%, rgba(109, 214, 137, 0.69) 0.01%, #1B8036 99.48%);
  border-radius: 5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 200px;
}
.about-us-card p {
  font-size: 12px;
  margin: auto;
  width: 150px;
}

.about-us-pic {
  border-radius: 50%;
  width: 100px;
}

.about-us-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about-us-content {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1366px) {
  .about-us-content {
    width: 1200px;
    margin: auto;
  }
}

.dot {
  background: #C4C4C4;
  height: 10px;
  left: 446px;
  position: absolute;
  top: 508px;
  width: 10px;
}

.blog-page {
  font-family: Roboto;
}

.blog-logo {
  height: 100px;
  object-fit: cover;
  opacity: 0.9;
  padding-top: 10px;
  position: relative;
  width: 100%;
}
.blog-logo p {
  bottom: -30%;
  color: white;
  font-size: 42px;
  left: 40%;
  position: absolute;
}
@media (min-width: 768px) {
  .blog-logo p {
    left: 40%;
  }
}
@media (min-width: 1366px) {
  .blog-logo p {
    left: 43%;
  }
}

.blog-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .blog-content {
    flex-direction: row;
  }
}

@media (min-width: 1366px) {
  .blog-post {
    padding-left: 100px;
  }
}

.car-blog {
  border-radius: 25px;
  box-shadow: 1px 5px 2px grey;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 350px;
}
@media (min-width: 768px) {
  .car-blog {
    width: 600px;
  }
}
@media (min-width: 1366px) {
  .car-blog {
    width: 870px;
  }
}
.car-blog ul {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .car-blog ul {
    padding-left: 190px;
  }
}
@media (min-width: 1366px) {
  .car-blog ul {
    padding-left: 80px;
  }
}
.car-blog li {
  margin: 0.5em;
}
.car-blog h1 {
  font-size: 22px;
  margin: auto;
  padding-bottom: 10px;
  width: 300px;
}
@media (min-width: 768px) {
  .car-blog h1 {
    width: 500px;
  }
}
@media (min-width: 1366px) {
  .car-blog h1 {
    font-size: 30px;
    text-align: left;
    width: 700px;
  }
}
.car-blog h2 {
  color: #3D3D3D;
  font-size: 14px;
  margin: auto;
  padding-bottom: 30px;
  width: 300px;
}
@media (min-width: 768px) {
  .car-blog h2 {
    width: 500px;
  }
}
@media (min-width: 1366px) {
  .car-blog h2 {
    font-size: 16px;
    text-align: left;
    width: 700px;
  }
}
.car-blog p {
  background: #1B8036;
  border-radius: 15px;
  color: white;
  width: 115px;
}

.clock-blog {
  border-radius: 25px;
  box-shadow: 1px 5px 2px grey;
  color: #3D3D3D;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 350px;
}
@media (min-width: 768px) {
  .clock-blog {
    width: 600px;
  }
}
@media (min-width: 1366px) {
  .clock-blog {
    width: 870px;
  }
}
.clock-blog ul {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .clock-blog ul {
    padding-left: 190px;
  }
}
@media (min-width: 1366px) {
  .clock-blog ul {
    padding-left: 80px;
  }
}
.clock-blog li {
  margin: 0.5em;
}
.clock-blog h1 {
  font-size: 22px;
  margin: auto;
  padding-bottom: 10px;
  width: 300px;
}
@media (min-width: 768px) {
  .clock-blog h1 {
    width: 500px;
  }
}
@media (min-width: 1366px) {
  .clock-blog h1 {
    font-size: 30px;
    text-align: left;
    width: 700px;
  }
}
.clock-blog h2 {
  font-size: 14px;
  margin: auto;
  padding-bottom: 30px;
  width: 300px;
}
@media (min-width: 768px) {
  .clock-blog h2 {
    width: 500px;
  }
}
@media (min-width: 1366px) {
  .clock-blog h2 {
    font-size: 16px;
    text-align: left;
    width: 700px;
  }
}
.clock-blog p {
  background: #1B8036;
  border-radius: 15px;
  color: white;
  width: 115px;
}

.blog-tag {
  display: flex;
  left: 10%;
  position: absolute;
}

.side-items {
  display: flex;
  flex-direction: column;
  font-family: SF UI Display;
  margin: auto;
  text-align: center;
  width: 300px;
}
@media (min-width: 1366px) {
  .side-items {
    margin-top: 50px;
    text-align: left;
  }
}

.search {
  background: #FFFFFF;
  border-radius: 30px;
  color: #696969;
  font-size: 18px;
  height: 45px;
  margin: auto;
  padding-left: 50px;
  text-align: left;
  width: 250px;
}

.recent-posts h1 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .recent-posts h1 {
    font-size: 24px;
  }
}
.recent-posts p {
  font-size: 12px;
}
@media (min-width: 768px) {
  .recent-posts p {
    font-size: 14px;
  }
}

.recent-comments h1 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .recent-comments h1 {
    font-size: 24px;
  }
}
.recent-comments p {
  font-size: 12px;
}
@media (min-width: 768px) {
  .recent-comments p {
    font-size: 14px;
  }
}

.categories h1 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .categories h1 {
    font-size: 24px;
  }
}
.categories ul {
  padding-left: 0px;
}
.categories li {
  font-size: 12px;
}
@media (min-width: 768px) {
  .categories li {
    font-size: 14px;
  }
}

.posts {
  width: 300px;
  margin: auto;
}
.posts h1 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .posts h1 {
    font-size: 24px;
  }
}
.posts p {
  font-size: 12px;
}
@media (min-width: 768px) {
  .posts p {
    font-size: 14px;
  }
}

.instagram h1 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .instagram h1 {
    font-size: 24px;
  }
}

.tags {
  padding-bottom: 10px;
}
.tags h1 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .tags h1 {
    font-size: 24px;
  }
}
.tags ul {
  display: flex;
  margin: 0.5em;
}
@media (min-width: 1366px) {
  .tags ul {
    margin-left: 0px;
    padding-left: 0px;
  }
}
.tags li {
  background: #E9F2FF;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
