.container {
  margin: 0 auto;
  max-width: 1200px;
}

ul li {
  list-style-type: none;
}

html, body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

header, footer, div, section {
  box-sizing: border-box;
}

.navbar-contact {
  background-color: #006400;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.social-media {
  display: flex;
  padding-left: 0px;
}
@media (min-width: 768px) {
  .social-media {
    margin-top: 10px;
    padding-left: 50px;
  }
}
@media (min-width: 1366px) {
  .social-media {
    padding-left: 100px;
  }
}

.socal-logo {
  height: auto;
  margin: 0.3em;
  width: 20px;
}
@media (min-width: 768px) {
  .socal-logo {
    margin-right: 0.5em;
  }
}

.contact-info {
  color: white;
  display: flex;
  font-size: 14px;
  padding-left: 0px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .contact-info {
    font-size: 18px;
    margin-top: 10px;
    padding-right: 80px;
  }
}
@media (min-width: 1366px) {
  .contact-info {
    padding-right: 160px;
  }
}
.contact-info li {
  margin: 0.5em;
}

.hero {
  display: flex;
}

.hero-image {
  width: 100%;
  opacity: 0.9;
  object-fit: cover;
  height: 300px;
}
@media (min-width: 768px) {
  .hero-image {
    height: 400px;
  }
}
@media (min-width: 1366px) {
  .hero-image {
    height: 500px;
  }
}

.hero-text {
  color: white;
  font-family: sans-serif;
  position: absolute;
  text-align: center;
  padding-top: 30px;
  width: 400px;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .hero-text {
    padding: 100px 0px 0px 100px;
    width: 500px;
    text-align: left;
  }
}
@media (min-width: 1366px) {
  .hero-text {
    padding-left: 200px;
    width: 900px;
  }
}
@media (min-width: 1366px) {
  .hero-text h1 {
    font-size: 40px;
  }
}
@media (min-width: 1366px) {
  .hero-text p {
    font-size: 18px;
  }
}

.hero-button {
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  width: fit-content;
  background: #006400;
  border-color: #006400;
}

.who-we-are {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0 auto;
  padding-top: 50px;
  width: 100%;
}
@media (min-width: 1366px) {
  .who-we-are {
    flex-direction: row-reverse;
    padding-top: 100px;
  }
}

.who-we-are-text {
  margin: auto;
  text-align: center;
  width: 350px;
}
@media (min-width: 768px) {
  .who-we-are-text {
    width: 500px;
  }
}
@media (min-width: 1366px) {
  .who-we-are-text {
    text-align: left;
  }
}
.who-we-are-text p {
  color: grey;
  font-size: 12px;
}
@media (min-width: 1366px) {
  .who-we-are-text p {
    font-size: 14px;
  }
}
.who-we-are-text h1 {
  font-size: 22px;
}
@media (min-width: 1366px) {
  .who-we-are-text h1 {
    font-size: 32px;
  }
}
.who-we-are-text h2 {
  font-size: 16px;
  font-weight: lighter;
}
@media (min-width: 1366px) {
  .who-we-are-text h2 {
    font-size: 22px;
  }
}

.cb-pic {
  border-radius: 50%;
  margin: auto;
  width: 350px;
}
@media (min-width: 768px) {
  .cb-pic {
    padding-top: 30px;
  }
}
@media (min-width: 1366px) {
  .cb-pic {
    width: 500px;
  }
}

.what-we-do {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media (min-width: 1366px) {
  .what-we-do {
    flex-direction: row;
  }
}

.what-we-do-text {
  margin: auto;
  text-align: center;
  width: 350px;
}
@media (min-width: 768px) {
  .what-we-do-text {
    width: 500px;
  }
}
@media (min-width: 1366px) {
  .what-we-do-text {
    text-align: left;
  }
}
.what-we-do-text p {
  color: grey;
  font-size: 12px;
}
@media (min-width: 1366px) {
  .what-we-do-text p {
    font-size: 14px;
  }
}
.what-we-do-text h1 {
  font-size: 22px;
}
@media (min-width: 1366px) {
  .what-we-do-text h1 {
    font-size: 32px;
  }
}
.what-we-do-text h2 {
  font-size: 16px;
  font-weight: lighter;
}
@media (min-width: 1366px) {
  .what-we-do-text h2 {
    font-size: 22px;
  }
}
.what-we-do-text h3 {
  font-size: 14px;
  font-weight: lighter;
}
@media (min-width: 1366px) {
  .what-we-do-text h3 {
    font-size: 20px;
  }
}

.content {
  font-family: fansong;
  width: 100%;
  margin: auto;
}
@media (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    width: 725px;
  }
}
@media (min-width: 1366px) {
  .content {
    flex-wrap: wrap;
    padding-left: 100px;
  }
}

.content-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1em;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.products {
  background-color: #006400;
  color: white;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  font-size: 32px;
}

.beer {
  width: 375px;
  margin: auto;
}
.beer h1 {
  font-size: 22px;
}
.beer h2 {
  font-size: 16px;
}
.beer p {
  font-size: 14px;
}

.coffee {
  width: 375px;
  margin: auto;
}
.coffee h1 {
  font-size: 22px;
}
.coffee h2 {
  font-size: 16px;
}
.coffee p {
  font-size: 14px;
}

.beer-pic {
  border-radius: 4px;
  width: 250px;
}

.coffee-pic {
  border-radius: 50%;
  width: 250px;
}

.leadership {
  text-align: center;
  font-family: sans-serif;
  display: flex;
  width: 100%;
  padding-top: 15px;
}

.leadership-text {
  text-align: center;
  width: 325px;
  margin: auto;
}
@media (min-width: 768px) {
  .leadership-text {
    width: 425px;
  }
}
.leadership-text p {
  color: grey;
  font-size: 12px;
}
@media (min-width: 1366px) {
  .leadership-text p {
    font-size: 14px;
  }
}
.leadership-text h1 {
  font-size: 22px;
}
@media (min-width: 1366px) {
  .leadership-text h1 {
    font-size: 32px;
  }
}
.leadership-text h2 {
  font-size: 16px;
  font-weight: lighter;
}
@media (min-width: 1366px) {
  .leadership-text h2 {
    font-size: 22px;
  }
}

.leadership-group {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 50px;
  width: 100%;
}
@media (min-width: 768px) {
  .leadership-group {
    padding-left: 80px;
  }
}
@media (min-width: 1366px) {
  .leadership-group {
    flex-direction: row;
  }
}

.leadership-pic {
  width: 200px;
  height: auto;
  border-radius: 25px;
  margin: 1em;
}
@media (min-width: 768px) {
  .leadership-pic {
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
